/*****COMMON CSS SECTION*****/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-outline: 0;
	font-family Roboto, sans-serif, arial;
}
html, body 
	{
	font-size: 14px;
	font-weight: 400;
	background: url("Beautiful-Plain-Website-Background.jpg"), #000;
	color: #fff;
}
.container {
	width: 1100px;
	margin: 0px auto;
	display: table;

}
.width-33 {
	width: 33%;
	float: left;

/* Subtle initial shadow */
}

.width-66 {
	width: 66%;
	float: left;
}
/*****MENU SECTION*****/

.main-panel {
	width: 100%;
	float: left;
	padding-top: 20px;
	padding-bottom: 50px;
	height: 100vh;
}

.logo {
	font-size: 40px;
	font-weight: 600;
}

.span-col {
	color: #4791f0;
}

nav {
	float: right;
    width: 100%;
}

nav a {
	text-decoration: none;
	font-size: 14px;
	font-weight: 500;
	margin-left: 20px;
	color: white;
	padding: 10px 15px; /* Add some padding around the text */
	transition: transform 0.3s ease, background-color 0.3s ease;
	border-radius: 4px; /* Optional: rounds the corners of the background */
  }
  
  nav a:hover, nav a:focus {
	transform: scale(1.05); /* Increase the size of the link slightly */
	background-color: #3d4751;
	box-shadow: 0 0 15px rgba(71, 145, 240, 0.75); /* Creates a glow effect */
  color: #ffffff; /* Change the background color */
  }
  
/*****Main BANNER*****/
.width-50 {
	float: left;
	width: 50%;
	box-sizing: border-box;
}
.banner-section {
	width: 100%;
	float: left;
	margin-top: 25vh;
}
.banner-section h1 {
	font-size: 48px;
	margin-top: 10px;
	font-weight: bolder;
}
.banner-section h2 {
	font-size: 20px;
	line-height: 25px;
	margin-top: 10px;
	font-weight: 400;
}
.banner-section a {
	float: left;
	text-decoration: none;
	font-size: 18px;
	margin-top: 20px;
	border-radius: 50%;
	text-align: center;
	border: 2px solid #4791f0;
	color: #4791f0;
	margin-left: 10px;
	height: 50px;
	width: 50px;
	line-height: 50px;
}
/*****Main BANNER IMAGE*****/
.main-panel img {
	margin-top: 10%;
	width: 50%;
	margin-left: 10%;
}

/* General link styles */
a {
	transition: background-color 0.3s ease, transform 0.3s ease;
	color: #fff; /* Default link color */
	text-decoration: none; /* Removes underline by default */
	padding: 5px 10px; /* Adds some space around the text */
	border-radius: 4px; /* Rounds the corners of the background */
  }
  
  /* Hover and focus styles */
  a:hover, a:focus {
	background-color: #3d4751; /* Background color on hover/focus */
	color: #000; /* Text color on hover/focus */
	transform: scale(1.05);
	box-shadow: 0 0 15px rgba(71, 145, 240, 0.75); /* Creates a glow effect */
  color: #ffffff; /* Change the background color */
  } /* Slightly increases size */
 
  
  










/*ABOUT US SECTION*/
.main-section {
	width: 100%;
	float: left;
	padding: 0px 0px 110px 0px;
}
.width-100 {
	width: 100%;
	float: left;
}
.mt-20 {
	margin-top: 20px;
}
.heading-text {
	width: 100%;
	float: left;
	font-size: 32px;
	text-align: center;
	color: #4791f0;
}

.about-us {
	width: 100%;
	float: left;
	padding: 20px;
}
.about-us p {
	font-size: 16px;
	margin-top: 15px;
	line-height: 27px;
}
table {
	width: 100%;
}
table th,
table td {
	font-size: 14px;
	text-align: left;
	padding: 5px 0px;
}
/*****SKILL SECTION*****/
/*****SKILL SECTION*****/
  
  /* Continue with other styles... */
  
.skill {
	margin-top: 30px;
	font-size: 17px;
}
.skill-section {
    width: 45%;
    margin: 10px;
}

.skill span {
	float: right;
}

.skill div {
	width: 100%;

	float: left;
	margin-top: 5px;
	background: #e7e7e7;
	border-radius: 10px;
	transition: width 0.5s ease, background-color 0.3s ease;

 
}
.skill div:hover {
	width: 110%; /* Extend the width beyond 100% for a stretch effect */
  background-color: #3662c4; /* Change to a different shade of blue */
}
.skill div span {
	background: #4791f0;
	height: 5px;
	float: left;
	transition: background-color 0.3s ease;
}
.skill div span:hover {
	background-color: #3a79d7; /* A slightly different shade of blue for visual feedback */
  }



.toggle-button {
    /* Styling for the toggle button */
    background-color: #4791f0; /* Example background color */
    border: none;
    color: rgb(7, 2, 2);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
	transition: background-color 0.3s, color 0.3s;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  .toggle-button:hover {
	background-color: #3672d1; /* Darker shade for hover state */
	color: #e7e7e7; 
	transform: scale(1.05);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);/* Lighter text color for hover state */
  }

  .chart-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px; /* Space above the chart */
   
    position: relative;
    width: 80%; /* Adjust to the desired width */
    max-width: 800px; /* Adjust to the maximum width you want */
    margin: 30px; /* This will center the container */
    margin-top: 0px;
  }
  
  
  .y-axis {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
  }

  .bars-container {
    display: flex;
    justify-content: space-around; /* This will distribute bars with space in between */
    align-items: flex-end;
    width: 85%;
    max-width: 600px; /* Adjust to the maximum width you want */
    border-bottom: 2px solid black; /* X-axis line */
    height: 400px; /*Adjust to control the width of the bar container */
    margin-left: 10px;
	
}
  
  
  .bar {
    width: 20px; /* Initial width of each bar */
    background-color: #4791f0; /* Color of bars */
    display: flex;
  justify-content: center;
  position: relative;
  margin: 0 5 px;
  transition: all 0.5s ease;
}
.bar:hover {
	transform: scale(1.1); /* Scale up the bar */
  background-color: #3662c4;/* Add a subtle shadow for depth */
  }
  
  .bar span {
    writing-mode: horizontal-tb;
    text-orientation: upright;
    transform: rotate(0deg);
    position: absolute;
    bottom: -30px; /* Adjust as needed to place labels below bars */
    left: 50%;
    transform: translateX(-50%);
    color: #dce3ee; /* Set the color of the labels */
    font-size: 12px; 
	transition: color 0.3s ease;/* Adjust font-size as needed */
  
  }
  .bar:hover span {
	color: #a2c4ff; /* Lighter shade of blue for the text */
  }

 
  
  

  .container1 {
	display: flex; /* Changed from table to flex */
    flex-direction: column;
	justify-content: space-around; /* This will space out the two sections evenly */
	align-items: stretch; /* This will make sure both sections stretch to the same height */
	width: 100%; /* Take up full width of the screen */
	max-width: none; /* Remove any max-width if it exists */
  }
  .container2 {
	display: flex; /* Changed from table to flex */
    flex-direction: column;
	justify-content: space-around; /* This will space out the two sections evenly */
	align-items: stretch; /* This will make sure both sections stretch to the same height */
	width: 100%; /* Take up full width of the screen */
	max-width: none; /* Remove any max-width if it exists */
  }
  
  .container3 {
	display: flex; /* Changed from table to flex */
    flex-direction: column;
	justify-content: space-around; /* This will space out the two sections evenly */
	align-items: stretch; /* This will make sure both sections stretch to the same height */
	width: 95%; /* Take up full width of the screen */
	max-width: none; /* Remove any max-width if it exists */
	margin: 30px;
  }
  
 
  .width-50, .chart-container {
	width: 100%; /* Each section will take up half of the container's width */
	/* Remove float: left; if it exists for these classes */
  }
  
  /* Remove any margins or paddings that might cause overflow or not needed */
  .width-50, .chart-container {
	margin: 30px;
	padding: 0;
  }

  .skills__progress {
    display: flex;
    flex-direction: row;
    
  }
  .skills__progress2 {
    display: flex;
    flex-direction: row;
    
  }
  
	
  .bar-percentage {
	position: absolute;
	top: 10px; /* Position it at the top inside the bar */
	color: #fff; /* Set the color of the percentage text */
	font-weight: bold; /* Make it bold */
	display: none; /* Initially hide the percentage */
  }
  .bar:hover .bar-percentage {
	display: block; /* Show the percentage on hover */
  }
  
  .bar:hover {
	transform: scale(1.05); /* Slightly increase the size of the bar on hover */
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
  }



  /*****EXPERIENCE SECTION*****/

.edu-exp {
	padding: 10px 0px;
	width: 48%;
	margin: 1%;
	float: left;
	padding-left: 10px;
}
.experience-list {
	width: 100%;
	float: left;
	padding: 30px 10px;
	background: #262626;
	margin-bottom: 20px;
	transition: box-shadow 0.3s ease-in-out, transform 0.3s ease, border-color 0.3s ease;
    border: 1px solid transparent; /* Prepare the border for a color change */

}
.experience-list:hover {
	box-shadow: 0 0 15px rgba(71, 145, 240, 0.7); /* Stronger shadow for a glow effect */
	border-color: #4791f0; /* Keeps the border color consistent with the glow */
	transform: scale(1.02); /* Slightly enlarges the item to draw attention */
  }
.experience-content {
	width: 100%;
	float: left;
	margin-left: 10px;
}
.experience-content h2 {

	font-weight: 600;
	margin-bottom: 5px;
	font-size: 20px;
}
.experience-content h3 {
	color: #4791f0;
	font-weight: 500;
	margin-bottom: 2px;
	font-size: 17px;
}
.experience-content p {
	font-size: 15px;
}
  /* CSS for glow effect on hover for the experience section */
 
 
/*SERVICE SECTION*/
.certificate-container {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin: 10px 2.5%;
    background: #262626;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin: 20px;
}

.certificate-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(71, 145, 240, 0.75);
    z-index: 10;
}
.certificate-list {
	padding: 20px;
	margin-top: 20px;
	background: #262626;
	border-radius: 15px;
	width: 100%;
	float: left;
	transition: transform 0.3s ease, box-shadow 0.3s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	margin-right: 5%;
}
.certificate-list:hover {
	transform: translateY(-5px); /* Slightly raise up to give a "lifting" effect */
  /* Glowing effect with larger, more diffused shadow */
  box-shadow: 0 0 20px rgba(71, 145, 240, 0.75); /* Adjust the color and blur radius as needed */
  z-index: 10; /* Ensure the hovered item is above the others */
}
.certificate-list i {
	font-size: 50px;
	color: #dfbf0b;
	width: 70px;
	float: left;
	
}

.certificate-list h3 {
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.certificate-list a {
	font-size: 15px;
	line-height: 25px;
	 /* Corrected from 'Position:Centre;' */
	text-decoration: none; /* Optional: removes the underline */
	color: #4791f0; /* Optional: changes the text color */
	background-color: #333; /* Optional: adds a background color */
	padding: 10px 20px; /* Optional: adds some padding */
	border-radius: 4px; /* Optional: rounds the corners */
	transition: background-color 0.3s, color 0.3s; /* Optional: animates the background and text color change */
  }
  .certificate-list a:hover {
	background-color: #4791f0; /* Changes the background on hover */
	color: #fff; /* Changes the text color on hover */
  }
  .certificate-list:nth-child(2n) {
    margin-right: 0; /* Remove margin-right for every second element */
}
.certificates-section {
    display: none;
    margin-top: 15px;
}

.button-link {
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    color: #4791f0;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.button-link:hover {
    background-color: #4791f0;
    color: #fff;
}

.certificate-logo {
    width: 80px;
    height: 120px;
    display: block;
    margin: 0 auto 20px auto;;
}

.close-button {
	font-size: 14px;
    line-height: 25px;
    text-decoration: none;
    color: #fff;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}


.close-button:hover {
    background-color: #3662c4;
	color: #fff;
}

/*****TESTIMONIAL SECTION*****/
.testimonial {
	padding: 40px;
  margin-top: 32px;
  background: #262626;
  border-radius: 15px;
  width: 94%;
  float: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
  /* Initial subtle shadow for depth (optional) */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.testimonial:hover{
	transform: translateY(-5px); /* Slightly raise up to give a "lifting" effect */
  /* Glowing effect with larger, more diffused shadow */
  box-shadow: 0 0 20px rgba(71, 145, 240, 0.75); /* Adjust the color and blur radius as needed */
  z-index: 10; /* Ensure the hovered item is above the others */
}

.testimonial-content {
	background: #262626;
	color: #cfcfcf;
	width: 100%;
	float: left;
	padding: 0px 20px 20px 20px;
	font-size: 16px;
	line-height: 28px;
	position: relative;
	text-align: center;
	transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effect */

   
}
.testimonial-content:hover {
	background-color: #2e2e2e; /* Slightly lighter background color on hover */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Shadow for depth */
  }

.testimonial i {
	color: #4791f0;
	font-size: 35px;
	margin-top: 20px;
    
}

.testimonial-name h5, .testimonial-name p {
	transition: color 0.3s ease; /* Smooth transition for text color */
  }
  
  .testimonial-content:hover h5, 
  .testimonial-content:hover p {
	color: #ffffff; /* Lighter text color on hover */
  }
  

.testimonial-img {
	width: 100%;
	float: left;
	text-align: centre;
	position: absolute;
	left: 0px;
	top: -35px;
}

.testimonial-img img {
	width: 80px;
	height: 80px;
	border: 3px solid white;
	border-radius: 50%;
}

.testimonial-name {
	width: 100%;
	float: left;
}

.testimonial-name h5 {
	color: #4791f0;
	font-size: 20px;
	margin-top: 10px;
}

.testimonial-name p {
	font-size: 16px;
}


/*SERVICE SECTION*/
/*SERVICE SECTION*/

.service-list {
	padding: 40px;
	margin-top: 35px;
	background: #262626;
	border-radius: 15px;
	width: 94%;
	float: left;
	transition: all 0.3s ease;
	transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
	/* Initial subtle shadow for depth (optional) */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .service-list:hover {
	transform: translateY(-5px); /* Slightly raise up to give a "lifting" effect */
	/* Glowing effect with larger, more diffused shadow */
	box-shadow: 0 0 20px rgba(71, 145, 240, 0.75); /* Adjust the color and blur radius as needed */
	z-index: 10; /* Ensure the hovered item is above the others */
  }
  .service-list {
	transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
.service-list i {
	font-size: 50px;
	color: #4791f0;
	width: 70px;
	float: left;
}

.service-list h3 {
	font-size: 18px;
	margin-top: 8px;
	margin-bottom: 15px;
}

.service-list p {
	font-size: 15px;
	line-height: 25px;
}

.width-50 {
    margin-top: 50px;
}

.container__about{
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    margin: 60px;
}

.content__about {
    font-size: large;
    margin-bottom: 30px;
}

.content__about > h1 {
    color: #4791f0;
}

.about__nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 300px;
	flex-wrap: wrap;
}

.about__nav > a {
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 15px;
	transition: color 0.3s ease;
}

.main__about {
    display: flex;
    flex-direction: column;
    margin-left: 50px;

}

.main__about li {
    font-size:  large;;
    line-height: 30px;
    list-style: none;
}

.image__about {
    object-fit:cover;
    height: 420px;
    margin-top: 35px;
    border-radius: 5%;
	transition: transform 0.3s ease;
}
.image__about::before {
	content: '';
	position: absolute;
	top: -10px; right: -10px; bottom: -10px; left: -10px;
	z-index: -1;
	background: linear-gradient(45deg, #1b81d4, #4791f0, #1b81d4, #4791f0);
	background-size: 300% 300%;
	border-radius: calc(5% + 10px);
	animation: moveGradient 3s infinite alternate;
  }
  
  @keyframes moveGradient {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
  }
  .image__about:hover {
	transform: scale(1.1) rotate3d(1, 5, 0, 10deg);
	transition: transform 0.5s ease-in-out;
  }
  @keyframes floating {
	0% { transform: translateY(0px); }
	50% { transform: translateY(-10px); }
	100% { transform: translateY(0px); }
  }
  
  .image__about {
	animation: floating 6s ease-in-out infinite;
  }
  .image__about {
	transition: transform 0.6s;
	transform-style: preserve-3d;
  }
  
  
  @keyframes pulseGlow {
	0%, 100% { box-shadow: 0 0 25px #1b81d4; }
	50% { box-shadow: 0 0 50px #4791f0; }
  }
  
  .image__about {
	animation: pulseGlow 2s infinite alternate ease-in-out;
  }
  
  /* You'll need to adjust your HTML structure and add styling for the backside of the image. */
  








  .content__about {
	animation: 1s ease-out 0s 1 slideInFromLeft;
  }
  
  .main__about li {
	opacity: 0;
	transform: translateY(-10px);
	animation: fadeInUp 0.5s ease forwards;
  }
  
  .main__about li:nth-child(1) { animation-delay: 0.5s; }
  .main__about li:nth-child(2) { animation-delay: 0.6s; }
  .main__about li:nth-child(3) { animation-delay: 0.7s; }
  .main__about li:nth-child(4) { animation-delay: 0.8s; }
  .main__about li:nth-child(5) { animation-delay: 0.9s; }
  .main__about li:nth-child(6) { animation-delay: 1.0s; }
  .main__about li:nth-child(7) { animation-delay: 1.1s; }
  
  @keyframes fadeInUp {
	to {
	  opacity: 1;
	  transform: translateY(0);
	}
  }
  .container__about {
	opacity: 0;
	transform: scale(0.95);
	animation: scaleUp 0.5s ease forwards;
  }
  
  @keyframes scaleUp {
	100% {
	  opacity: 1;
	  transform: scale(1);
	}
  }
  
.chart__group {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.ml_models {
    margin-top: 15px;
}


.button-link {
	display: inline-block;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	background-color: #3498db; /* Button color */
	color: #ffffff; /* Text color */
	border-radius: 5px; /* Rounded corners */
	transition: background-color 0.3s ease; /* Smooth transition on hover */
  }

  /* Change button color on hover */
  .button-link:hover {
	background-color: #2980b9; /* Darker button color on hover */
  }

  .project-image {
	width: 100px; /* Set the width to fill its container */
	height: 100px; /* Maintain the aspect ratio */
	object-fit: cover; /* Cover the container while maintaining aspect ratio */
	border-radius: 8px; /* Optional: Add rounded corners */
  }

  width-33 {
	width: 33%;
  }
  .heading-color {
	color: #4791f0; /* Change the color to your desired color */
  }

  .profile-image {
    width: 300px; /* Set the width to match font size */
    height: 350px;
	/* Set the height to match font size */
}

 /*CONTACT US SECTION*/
.contact form {
	width: 66%;
	margin: 0px auto;
}/* master.css */

/* Responsive Image */
.profile-image {
	max-width: 100%;
	height: auto;
  }
  
  /* Responsive Navigation Menu */
  nav a {
	display: inline-block;
	padding: 8px;
	margin: 0 5px;
  }
  
  @media only screen and (max-width: 768px) {
	/* For mobile phones: */
	
	.main-panel .container .width-50,
	.main-panel .container .width-33,
	nav a {
	  width: 100%;
	  display: block;
	  text-align: center;
	}
  
	/* Hamburger menu styles here if you choose to implement */
  }
  
  /* Ensure social icons are large enough to be tapped on a touchscreen */
  .fa {
	font-size: 24px; /* Adjust size as needed */
	padding: 10px; /* Adds space around the icon */
  }
 /* Hover effect for input fields */
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="tel"],
.contact textarea {
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  border: 1px solid #a1a1a1; /* Border set here for transition effect */
}

.contact input[type="text"]:hover,
.contact input[type="email"]:hover,
.contact input[type="tel"]:hover,
.contact textarea:hover {
  box-shadow: 0 0 8px rgba(71, 145, 240, 0.8); /* Glowing effect on hover */
  border-color: #4791f0; /* Border color changes to theme color */
}
 
.contact input,
textarea {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	border: 1px solid #a1a1a1;
}
.contact textarea {
	height: 80px;
}
.contact button {
	width: 100%;
	float: left;
	margin-bottom: 20px;
	height: 40px;
	padding: 10px;
	background: #4791f0;
	color: #fff;
	border: none;
	font-size: 16px;
}
.contact button:hover {
	background-color: #3672d1; /* Darker shade for hover */
	transform: translateY(-2px); /* Button moves up slightly */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect for depth */
  }
.contact h3 {
	font-size: 26px;
	text-align: center;
	margin-top: -10px;
	color: #4791f0;
}
.contact h4 {
	font-size: 22px;
	text-align: center;
	margin-top: 10px;
}
.contact p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}
/*****FOOTER SECTION*****/
.footer {
	background-color: #202020;
	background-size: auto;
	padding: 10px 0px 30px 10px;
	width: 100%;
	float: left;
	margin-top: 05%;
}
.footer-sect {
	color: #b3b3b3;
}
.footer .container {
  max-width: 960px; /* Adjust based on your preference */
  margin: ; /* Center the container */
  display: flex;
  justify-content: space-between; /* Adjust this to 'space-around' or 'space-evenly' for different spacing */
  align-items: center;
  flex-wrap: wrap; /* Ensure it wraps on smaller screens */
}
.footer-sect.mt-20 {
	width: 100%;
	text-align: center;
	margin-top: 20px;
	height:10%; /* Add more space above the copyright text */
  }
.footer-sect a {
	color: #b3b3b3;
	margin-left: 10px;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}
.social-icon a i {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	line-height: 50px;
	font-size: 20px;
	border-radius: 50%;
}


/* Add this to your master.css file or in a separate CSS file */

  
.width-33:hover h3,
.width-33:hover h4,
.width-33:hover p {
  color: #fff; /* Text color changes to white on hover */
}

/* Social icons hover effect */
.social-icon a i {
	
  transition: color 0.3s ease, background-color 0.3s ease;
}

.social-icon a:hover i {
  color: #fff; /* Icon color changes to white on hover */
  background-color: #4791f0; /* Background color changes to theme color */
  border-color: #4791f0; /* Border color changes to match the background */
}

/* Add this to your existing CSS file */

section {
	margin: 15rem 8.5rem;
}

.main1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.main1 h3 {
	font-size: 1.5rem;
}
.main1 h1 {
	font-size: 3rem;
	font-weight: 600;
	margin-top: .5rem;
	color: #4791f0;
}
.main1 p {
	line-height: 1.7;
	font-size: 1.15rem;
	margin-top: .5rem;
}
.Information {
	width: 50%;
}

.social {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	margin-top: 1rem;
}

.social a {
	color: var(--secondary-color);
	font-size: 1rem;
	border: 1px solid #1d87de;
	border-radius: 50%;
	padding: 0.3rem;
	text-align: center;
	width: 27px;
	height: 25px;
	display: grid;
	place-items: center;

}

.social a:hover {
	color: #fff;
	background-color: var(--secondary-color);
	box-shadow: 0 0 20px var(--secondary-color);
	border-color: var(--secondary-color);
	transition: all .3s ease-in-out;

}



.images {
	width: 25em;
	height: 15em;
	border-radius: 50%;
	margin: auto;
	margin-top: -7%;
}

.blue-bg-outer {
	width: 25em;
	height: 25em;
	border-radius: 50%;
	background: #1b81d4;
	display: grid;
	place-items: center;
}

.white-bg {
	width: 21.875em;
	height: 21.875em;
	border-radius: 50%;
	background: #fff;
	display: grid;
	place-items: center;
}

.blue-bg {
	width: 13.75em;
	height: 19.75em;
	border-radius: 50%;
	background: var(--primary-color);
	margin-left:-11%;
}

.blue-bg img {
	position: relative;
	width: 100%;
	border-radius: 50%;
}
.blue-bg img:hover {
	transform: scale(1.05);
	transition: transform 0.3s ease-in-out;
  }
  .blue-bg img {
	transition: box-shadow 0.3s ease-in-out;
  }
  
  .blue-bg img:hover {
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  }
  
  .blue-bg img:hover {
	transform: rotate(5deg);
	transition: transform 0.3s ease-in-out;
  }
  @keyframes pulse {
	0% { transform: scale(1); }
	50% { transform: scale(1.05); }
	100% { transform: scale(1); }
  }
  
  .blue-bg img {
	animation: pulse 2s infinite ease-in-out;
  }
  @keyframes float {
	0%, 100% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
  }
  
  .blue-bg img {
	animation: float 6s infinite ease-in-out;
  }
  .blue-bg:hover {
	animation: borderGlow 1s forwards;
  }
  
  @keyframes borderGlow {
	from { box-shadow: 0 0 0px #fff; }
	to { box-shadow: 0 0 10px #fff; }
  }
  .blue-bg-outer:hover {
	background-color: #165a8f;
	transition: background-color 0.3s ease-in-out;
  }
   
  .blue-bg-outer:hover {
	transform: scale(1.03);
	transition: transform 0.3s ease-in-out;
  }
  @keyframes pulsingGlow {
	0% { box-shadow: 0 0 10px #1b81d4; }
	50% { box-shadow: 0 0 20px #1b81d4; }
	100% { box-shadow: 0 0 10px #1b81d4; }
  }
  
  .blue-bg-outer {
	animation: pulsingGlow 2s infinite ease-in-out;
  }
  .white-bg:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	transition: box-shadow 0.3s ease-in-out;
  }
  .white-bg:hover {
	transform: rotate(-5deg);
	transition: transform 0.3s ease-in-out;
  }
  @keyframes breathing {
	0%, 100% { transform: scale(1); }
	50% { transform: scale(1.05); }
  }
  
  .white-bg {
	animation: breathing 3s infinite ease-in-out;
  }
  @keyframes colorPulse {
	0%, 100% { background-color: #fff; }
	50% { background-color: #f0f0f0; }
  }
  
  .white-bg {
	animation: colorPulse 5s infinite ease-in-out;
  }
  
/*BUTTON*/
.cv-btn {
	margin-top: 1.5rem;
	padding: 1em 2.5em;
	border-radius: 25px;
	background-color: #33383C;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	border: 2px solid var(--primary-color);
	cursor: pointer;
	transition: .3s ease-in;
}
.cv-btn:hover {
	background-color: transparent;
	color: var(--primary-color);
}
@media only screen and (max-width: 1024px) {
	html {
		font-size: 80%;
	}
}

@media screen and (max-width: 768px) {
	html {
		font-size: 100%;
	}

}

@media only screen and (max-width: 480px) {

	section {
		margin: 0 1rem;
	}
	.images {
		min-width: 15em;
	}

	.blue-bg-outer {
		width: 20em;
		height: 20em;
		margin: auto;

	}

	.white-bg {
		width: 16.875em;
		height: 16.875em;
	}

	.blue-bg {
		width: 12.75em;
		height: 12.75em;
	}

}

@media only screen and (max-width: 320px) {
	.images {
		height: 17em;
	}
	.blue-bg-outer {
		width: 16em;
		height: 16em;

	}

	.white-bg {
		width: 13em;
		height: 13em;
	}

	.blue-bg {
		width: 11em;
		height: 11em;
	}

	.blue-bg img {
		position: relative;
		bottom: 20px;
		right: 10px;
		width: 100%;
	}
}



  /* Typing keyframes */
  @keyframes typing {
	from { width: 0 }
	to { width: 60% }
  }
  
  /* Blinking cursor keyframes */
  .Information h3, .Information h1, .Information p {
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	border-right: .15em solid #33383C; /* Cursor-like solid block */
	/* The 'steps' function should match the exact number of characters */
	animation: typing 3.5s steps(30, end) forwards, /* Adjust the '30' to match the number of characters */
			  blink-caret .75s step-end infinite;
	animation-fill-mode: forwards; /* Keeps the styles set by the final keyframe after the animation completes */
  }
  
  /* Typing keyframes */
  @keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* Blinking cursor keyframes */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #031f3c }
  }
  
  .Information h1 {
	animation-delay: 3.5s; /* Starts after the first line completes */
  }
  
  .Information p {
	animation-delay: 7s; /* Adjust based on the text length and when you want it to start */
  }
  
  .Information h1 {
	animation-delay: 3.5s; /* Starts after the first line completes */
  }
  
  .Information p {
	animation-delay: 7s; /* Adjust based on the text length and when you want it to start */
  }
/* EXPERIENCE SECTION */
/* EXPERIENCE SECTION */
.experience-card {
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin: 10px 2.5%;
    background: #262626;
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(71, 145, 240, 0.75);
    z-index: 10;
}

.experience-image {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}

.experience-overlay {
    position: absolute;
    bottom: 0;
    left: 60;
    right: 0;
    top: 10;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.experience-details {
    display: none;
    margin-top: 15px;
}

.experience-toggle-button,
.more-details-toggle-button {
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    color: #4791f0;
    background-color: #444;
    padding: 0px 20px;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.experience-toggle-button:hover,
.more-details-toggle-button:hover {
    background-color: #4791f0;
    color: #fff;
}

.experience-item {
    padding: 20px;
    margin-top: 20px;
    background: #262626;
    border-radius: 15px;
    width: 100%;
    float: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.experience-item:hover {
    transform: translateY(-5px); /* Slightly raise up to give a "lifting" effect */
    /* Glowing effect with larger, more diffused shadow */
    box-shadow: 0 0 20px rgba(71, 145, 240, 0.75); /* Adjust the color and blur radius as needed */
    z-index: 10; /* Ensure the hovered item is above the others */
}

.experience-item i {
    font-size: 50px;
    color: #dfbf0b;
    width: 70px;
    float: left;
}

.experience-item h3 {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.experience-item p {
    font-size: 15px;
    line-height: 25px;
    color: #ddd; /* Optional: adjust the text color */
}

.experience-logo {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.experience-button-link {
    font-size: 15px;
    line-height: 25px;
    text-decoration: none;
    color: #4791f0;
    background-color: #444;
    padding: 10px 20px;
    border-radius: 4px;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.experience-button-link:hover {
    background-color: #4791f0;
    color: #fff;
}

/* Adjust heading size and color */
.experience-heading {
    font-size: 20px; /* Increase the font size */
    color: #4791f0; /* Change the color */
    margin-bottom: 20px; /* Optional: add some space below the heading */
}

.dates {
    text-align: right;
}

.more-details {
    display: none;
    margin-top: 10px;
}
